body{
    background-color: silver;
    font-size: 16px;
    text-align: center;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 10px
}
header{
    background-color: slategray;
    line-height: 120px;
    min-height: 120px;
    color: white;
    text-shadow: 0 0 3px black;
    text-align: center;
    font-size: 200%;
}
main{
    padding: 10px;
}
footer{
    background-color: black;
    color: white;                                                                                                                                                                                                                                                                                                                                                                       
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}