body{
    background-color: silver;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 10px
}
header{
    background-color: slategray;
    line-height: 120px;
    min-height: 120px;
    color: white;
    text-shadow: 0 0 3px black;
    text-align: center;
    font-size: 200%;
}